<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">自由の女神<button class="btn pull-right">♥LIKE</button></h3>
  </div>
  <div class="modal-body text-center">
  <%= image_tag "statue.png",size: "400x400" %>
  <div class="page-header">
    <h2>概要</h2>
  </div>
  <p>評価：　★★★★★</p>
  <p>予算： ２，０００円</p>
  <p>所要時間：１．５時間</p>
  <p>住所： Liberty Island, New York, NY, United States</p>
  <p>URL： <%=link_to "http://www.tripadvisor.jp/Attraction_Review-g60763-d103887-Reviews-Statue_of_Liberty-New_York_City_New_York.html" %></p>
  <div class="page-header">
    <h2>レビュー</h2>
  </div>
    <%= image_tag "graff.png",size: "400x400" %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
    <button class="btn btn-primary">プランに追加 </button>
  </div>
</div>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "statics/statics" %>
<% end %>

<div class="row" >
  <div class="row" id="title">
    <div class="span12">
      <div class="pull-left">
        <h3 id="planName">ニューヨーク 1日目</h3>
      </div>

      <div class="pull-right span7">
        <ul  class="themeTags">
          <li><%= text_field 'Theme_or_keyword', 'Theme_or_keyword' %>
            <b><%= link_to " [+] タグ 追加", "#" %></b></li>
          <li>ビジネス[x]</li>
          <li>公園[x]</li>
        </ul>
      </div>
    </div>

    <!-- Travel Group -->
    <div class="span12">
      <div class="pull-right">
        <ul class="travelGroup">
          <li>
            <div class="profileInfo">
              <b><%= link_to "[+] 友達に聞く", "#", class: "btn" %></b>
            </div>
          </li>
          <li><img id="userProfile" src="/assets/profilePic.jpg">
            <div class="profileInfo">
              <a href="#"><h5>Justin</h5></a>
            </div>
          </li>
          <li><img id="userProfile" src="/assets/masaki.jpg">
            <div class="profileInfo">
              <a href="#"><h5>Masaki</h5></a>
            </div>
          </li>
        </ul>
      </div>

      <!-- Duration and Currency + Budget   -->
      <div class="pull-left lengthBudget">
        <label>予算: </label><%= text_field 'Budget', 'Budget' %>
        <button class="currency">通貨</button>
      </div>

      <!--Back and Edit Buttons-->

    </div>
  </div>

  <div class="row">
    <div class="span4 pull-left planSideBar">
      <section class="mainSection">

        <!-- Main Section Title-->
        <h4>ニューヨーク<span class="city">アメリカ</span></h4>
        <div class="date">28/11/2013</div>
        <div class="time">2<span class="hour">時間</span>0<span class="min">分</span></div>
        <div class="budget">1,000<span class="currency">円</span></div>
      </section>
      <hr>
      <div class="spots">
        <div class="morning"></div>
        <section>
          <div class="number">1</div>
          <img class="pict" src="/assets/6695412701_NYcentralpark.jpg">
          <h3>セントラルパーク</h3>
          <div class="category">公園</div>
          <div class="star">★★★★☆</div>
          <div class="tags">自然, 写真</div>
          <div class="budget">1,000<span class="currency">円</span></div>
          <div class="time">1<span class="hour">時間</span></div>
          <details>セントラルパークの説明...</details>

        </section>
        <section>
          <div class="number">2</div>
          <img class="pict" src="/assets/8726601675_NYbatterypark.jpg">
          <h3>ウォール街</h3>
          <div class="category">ビジネス</div>
          <div class="star">★★★☆☆</div>
          <div class="tags">街, ビジネス</div>
          <div class="budget">0<span class="currency">円</span></div>
          <div class="time">1<span class="hour">時間</span></div>
          <details>ウォール街の説明...</details>

        </section>
        <div class="night"></div>

        <div id="formStuff"></div>
      </div>

    </div>

    <div class="span5 pull-left mapDiv narrow">
      <div class="span3 pull-left" id="mapButtonDiv">
        <button class="plans btn mapButton active">お気に入り</button>
        <button class="restaurant btn mapButton">レストラン</button>
        <button class="hotel btn mapButton">ホテル</button>
        <button class="sight btn mapButton">観光地</button>
        <div class="mapSearch">
          <%= link_to '検索', '#', class: 'btn mapSearch' %>
          <%= text_field 'Theme_or_keyword', 'Theme_or_keyword' %>

        </div>
      </div>

      <div id="map_canvas"></div>
    </div>
    <div class="spotList span3 pull-right">
      <img src="/assets/onikiri.png">
    </div>

  </div>
</div>
