<%= simple_form_for([@plan, @planday]) do |f| %>
  <% if @planday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planday.errors.count, "error") %> prohibited this planday from being saved:</h2>

      <ul>
      <% @planday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="planday_spots">
    <div class="links">
      <%= link_to_add_association 'add planday spot', f, :planday_spots, id: "add_planday_spot", style: "display: none;" %>
    </div>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
