<%= simple_form_for([@plan, @planday]) do |f| %>
  <% if @planday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planday.errors.count, "error") %> prohibited this planday from being saved:</h2>

      <ul>
      <% @planday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="planday_spots">
    <%= f.simple_fields_for :planday_spots, PlandaySpot.new do |planday_spot| %>
      <%= render 'planday_spot_fields', :f => planday_spot %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association 'add_planday_spot', f, :planday_spots %>
  </div>
  <hr>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
