<%= form_for(@planday) do |f| %>
  <% if @planday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planday.errors.count, "error") %> prohibited this planday from being saved:</h2>

      <ul>
      <% @planday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plan %><br />
    <%= f.text_field :plan %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.number_field :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
