<% content_for :javascript_includes do %>
  <%= javascript_include_tag "plandays/plandays" %>
<% end %>

<div class="row" >
  <div class="row" id="title">
    <div class="span12">
      <div class="pull-left">
        <h3 id="planName"><%= link_to @planday.plan.title, @planday.plan %> Day <%= @planday.day %></h3>
      </div>
      <div class="pull-right span7">
        <ul  class="themeTags">
          <li><%= text_field 'Theme_or_keyword', 'Theme_or_keyword' %>
            <b><%= link_to " [+] Add Tag", "#" %></b></li>
          <li>Culture [x]</li>
          <li>Romantic [x]</li>
          <a href="#">Tags</a>
        </ul>
      </div>
    </div>

      <!-- Travel Group -->
      <div class="span12">
      <div class="pull-right">
        <ul class="travelGroup">
          <li><img id="userProfile" src="/assets/profilePic.jpg">
            <div class="profileInfo">
              <a href="#"><h5>Justin</h5></a>
              <a href="#">31416 points</a><br>
              <a href="#">MASTER level</a>
            </div>
          </li>
          <li><img id="userProfile" src="/assets/masaki.jpg">
            <div class="profileInfo">
              <a href="#"><h5>Masaki</h5></a>
              <a href="#">216 points</a><br>
              <a href="#">Captain level</a>
            </div>
          </li>
          <a href="#">Travel Group</a>
        </ul>
      </div>

      <!-- Duration and Currency + Budget   -->
      <div class="pull-left lengthBudget">
        <label>Budget: </label><%= text_field 'Budget', 'Budget' %>
        <button class="currency">Currency</button>
      </div>

      <div class="pull-left addButton">
          <%= link_to 'Back', plan_path(@planday.plan), class: 'btn' %>
          <%= link_to 'Done Editing', @planday, class: 'btn' %>
      </div>

      <!--Back and Edit Buttons-->

    </div>
  </div>

  <div class="row">
    <div class="span4 pull-left planSideBar">
      <section class="mainSection">

      <!-- Main Section Title-->
      <h4>New York<span class="city">America</span></h4>
      <div class="date">28/November/2013</div>
      <div class="time">15<span class="hour">h</span>20<span class="min">m</span></div>
      <div class="budget"><span class="currency">KES</span>153.21</div>
      </section>
      <div class="accom-options btn">
        Accommodations
      </div>
      <div class="spots">
        <div class="morning"></div>
        <section>
          <div class="number">1</div>
          <img class="pict" src="/assets/6695412701_NYcentralpark.jpg">
          <h3>Central Park</h3>
          <div class="category">Park</div>
          <div class="star">★★★★☆</div>
          <div class="tags">#Nature, Photography</div>
          <div class="budget"><span class="currency">$</span>0</div>
          <div class="time">1<span class="hour">hour</span></div>
          <details>See Details</details>

        </section>
        <section>
          <div class="number">2</div>
          <img class="pict" src="/assets/8726601675_NYbatterypark.jpg">
          <h3>Financial District</h3>
          <div class="category">Shopping</div>
          <div class="star">★★★☆☆</div>
          <div class="tags">#City, Business</div>
          <div class="budget"><span class="currency">$</span>0</div>
          <div class="time">1<span class="hour">hour</span></div>
          <details>See Details</details>

        </section>
        <div class="night"></div>

        <div id="formStuff"><%= render 'form', action: 'update' %></div>
      </div>

    </div>
    <div class="span8 pull-right mapDiv">
      <div class="span3 pull-left" id="mapButtonDiv">
        <button class="plans btn mapButton">Nearby Plans</button>
        <button class="restaurant btn mapButton">Restaurants</button>
        <button class="hotel btn mapButton active">Hotels</button>
        <button class="sight btn mapButton">Sights</button>
        <div class="mapSearch">
          <%= link_to 'Search', '#', class: 'btn mapSearch' %>
          <%= text_field 'Theme_or_keyword', 'Theme_or_keyword' %>

        </div>
      </div>

      <div id="map_canvas"></div>
    </div>

  </div>
</div>
