<h1>Listing plandays</h1>

<table>
  <tr>
    <th>Plan</th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plandays.each do |planday| %>
  <tr>
    <td><%= planday.plan %></td>
    <td><%= planday.day %></td>
    <td><%= link_to 'Show', planday %></td>
    <td><%= link_to 'Edit', edit_planday_path(planday) %></td>
    <td><%= link_to 'Destroy', planday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Planday', new_planday_path %>
