<% content_for :javascript_includes do %>
  <%= javascript_include_tag "plandays/plandays" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Plan:</b>
  <%= link_to @planday.plan.title, @planday.plan %>
</p>

<p>
  <b>Day:</b>
  <%= @planday.day %>
</p>

<p>
  <b>Spots:</b>
  <% @planday.spots.each do |spot| %>
    <li><%= spot.name %></li>
  <% end %>
</p>

<div class="row-fluid">
  <div class="span3">
    <button class="restaurant">restaurant</button>
    <button class="hotel">hotel</button>
    <div class="spots">
      <%= hidden_field_tag :latitude, '35.712072' %>
      <%= hidden_field_tag :longitude, '139.79494999999997' %>
    </div>
  </div>
  <div class="span9">
    <div id="map_canvas"></div>
  </div>
</div>

<%= link_to 'Edit', edit_planday_path(@planday) %> |
<%= link_to 'Back', plan_path(@planday.plan) %>
