<% content_for :javascript_includes do %>
  <%= javascript_include_tag "plandays/plandays" %>
<% end %>

<div class="row planHeader" >

  <!--Title + Tags + Add PLan Button -->
  <div class="span12">
    <div class="pull-left">
      <h3 id="planName"><%= link_to @planday.plan.title, @planday.plan %> Day <%= @planday.day %></h3>
    </div>
    <div class="pull-right span7">
      <ul  class="themeTags">
        <li>Culture</li>
        <li>Photography</li>
        <li>Romantic</li>
        <a href="#">Tags</a>
      </ul>
    </div>
  </div>

  <div class="span12">

    <!-- Travel Group -->
    <div class="pull-right">
      <ul class="travelGroup">
        <li><img id="userProfile" src="/assets/profilePic.jpg">
          <div class="profileInfo">
            <a href="#"><h5>Justin</h5></a>
            <a href="#">31416 points</a><br>
            <a href="#">MASTER level</a>
          </div>
        </li>
        <li><img id="userProfile" src="/assets/masaki.jpg">
          <div class="profileInfo">
            <a href="#"><h5>Masaki</h5></a>
            <a href="#">216 points</a><br>
            <a href="#">Captain level</a>
          </div>
        </li>
        <a href="#">Travel Group</a>
      </ul>
    </div>

    <!-- Duration (hours) + Rating + Reviews + Currency + Budget   -->
    <div class="pull-left lengthBudget">
      <h5>3.1 ★★★☆☆ <a href="#">(See Reviews)</a></h5>
    </div>

    <div class="pull-left lengthBudget">
      <h5>$200</h5>
      <h5><button class="currency">Currency</button></h5><br>
    </div>


    <div class="pull-left addButton">
      <a class="btn">Add to my Plan</a>

      <%= link_to 'Back', plan_path(@planday.plan), :class => 'btn' %>
      <%= link_to 'Edit', edit_planday_path(@planday), :class => 'btn' %>
    </div>
  </div>
</div>

<div class="row">

  <!--Photo viewer -->
  <div class="span6 photoviewer">
    <div id="photoNav">
      <ul>
        <li class="photoNav thumb"><img src="/assets/8726601675_NYbatterypark.jpg"></li>
        <li class="photoNav thumb"><img src="/assets/8723579515_NY.jpg"></li>
        <li class="photoNav middle"><img src="/assets/6695412701_NYcentralpark.jpg"></li>
        <li class="photoNav thumb"><img src="/assets/8724388396_NY.jpg"></li>
        <li class="photoNav thumb"><img src="/assets/8724414420_NY.jpg"></li>
      </ul>
    </div>
    <div id="photoContainer">
      <!--The page Container is a ul list of photos-->
      <ul>
        <li><img src="/assets/6695412701_NYcentralpark.jpg"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

      </ul>
    </div>
    <!-- arrows must have a higher z-index-->
    <div class="arrow left"><img src="/assets/arrow_left.png"></div>
    <div class="arrow right"><img src="/assets/arrow_right.png"></div>
  </div>

  <!-- Map -->
  <div class="span6 mapDiv">
    <div class="span3" id="mapButtonDiv">
      <button class="plans btn mapButton">Nearby Plans</button>
      <button class="restaurant btn mapButton">Restaurants</button>
      <button class="hotel btn mapButton active">Hotels</button>
      <button class="sight btn mapButton">Sights</button>
    </div>

    <div class="planday_spots">
      <% @spots.each do |spot| %>
        <li>
          <%= spot.name %>
          <%= hidden_field_tag :latitude, spot.lat %>
          <%= hidden_field_tag :longitude, spot.lng %>
          <%= hidden_field_tag :google_reference, spot.google_reference %>
        </li>
      <% end %>
    </div>
    <div id="map_canvas">
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 pull-left planSideBar">
    <section class="mainSection">

      <!-- Main Section Title-->
      <h4>New York<span class="city">America</span></h4>
      <div class="date">28/November/2013</div>
      <div class="time">15<span class="hour">h</span>20<span class="min">m</span></div>
      <div class="budget"><span class="currency">KES</span>153.21</div>
    </section>
    <div class="accom-options btn">
      Accommodations
    </div>
    <div class="spots">
      <div class="morning"></div>
      <section>
        <div class="number">1</div>
        <img class="pict" src="/assets/6695412701_NYcentralpark.jpg">
        <h3>Central Park</h3>
        <div class="category">Park</div>
        <div class="star">★★★★☆</div>
        <div class="tags">#Nature, Photography</div>
        <div class="budget"><span class="currency">$</span>0</div>
        <div class="time">1<span class="hour">hour</span></div>
        <details>See Details</details>

      </section>
      <section>
        <div class="number">2</div>
        <img class="pict" src="/assets/8726601675_NYbatterypark.jpg">
        <h3>Financial District</h3>
        <div class="category">Shopping</div>
        <div class="star">★★★☆☆</div>
        <div class="tags">#City, Business</div>
        <div class="budget"><span class="currency">$</span>0</div>
        <div class="time">1<span class="hour">hour</span></div>
        <details>See Details</details>

      </section>
      <div class="night"></div>

      <div id="formStuff"><%= render 'form', :action => 'update' %></div>
      <div>
        <div class="spots">
          <%= hidden_field_tag :latitude, '35.712072' %>
          <%= hidden_field_tag :longitude, '139.79494999999997' %>
          　　   </div>
        　</div>

    </div>

  </div>

  <div class="span8 pull-left planSideBar">
     <h2>Full Details of last clicked spot:</h2>
    <h4>Spot Reviews</h4>
    <h4>Spot Photos</h4>
  </div>
</div>

<%= link_to 'Back', plan_path(@planday.plan), :class => 'btn' %>
<%= link_to 'Edit', edit_planday_path(@planday), :class => 'btn' %>
