<% content_for :javascript_includes do %>
  <%= javascript_include_tag "cities/cities" %>
<% end %>

<div class="row-fluid">
  <div class="span3 createNewPlan">
    <p><%= button_tag "create plan", :class => "btn", id: "create-plan" %></p>

    <h5 id="city_name"><%= @city.name %></h5>
    <p>
      <b>Country: </b>
      <%= @city.country_code %>
    </p>
    <button class="restaurant">restaurant</button>
    <button class="hotel">hotel</button>
    <button class="sight">sight</button>

    <br>
    <%= link_to 'Edit', edit_city_path(@city), :class => 'btn' %> |
    <%= link_to 'Back', cities_path, :class => 'btn' %>
  </div>

  <div class="span9">
    <div id="map_canvas"></div>
  </div>
</div>

<div id="spot-list"></div>

<%= render "dialog_form" %> 

