<% content_for :javascript_includes do %>
  <%= javascript_include_tag "cities/cities" %>
<% end %>


<div class="row" id="title">
  <div class="span12">
    <%= button_tag "create plan", :class => "btn", id: "create-plan" %>
    <%= link_to 'Back', cities_path, :class => 'btn' %>


    <h5 id="city_name"><%= @city.name %></h5>
      <b>Country: </b>
      <%= @city.country_code %>
    <div class="span3">
        <button class="restaurant">restaurant</button>
        <button class="hotel">hotel</button>
        <button class="sight">sight</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="span9">
    <div id="map_canvas"></div>
  </div>
</div>

<div id="spot-list"></div>

<%= render "dialog_form" %> 

