<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @plan.title %>
</p>

<p>
  <b>Owner:</b>
  <%= @plan.user.username %>
</p>

<p>
  <b>Start:</b>
  <%= @plan.start_datetime %>
</p>

<p>
  <b>End:</b>
  <%= @plan.end_datetime %>
</p>

<hr>

<% @plan.plandays.each do |planday| %>
  <li> <%= link_to "day " + planday.day.to_s, planday %> </li>
<% end %>

<%= link_to "add day plan", new_plan_planday_path(@plan) %>

<hr>
<%= link_to 'Edit', edit_plan_path(@plan) %>
